.main--content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #EDF5E1;
    border-radius: 20px;
    width: 80%;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
    align-items: center;
    height: 70%;
    overflow: hidden;

    > h2 {
        font-size: 40px;
        text-align: center;
        width: 100%;
        span{
            color: crimson;
            text-decoration: underline;
        }
    }

    .picture--container{
        background-image: url('../img/photoDeProfil2.jpg');
        position: absolute;
        left: -200px;
        top: 20px;
        border-radius: 50%;
        width: 180px;
        height: 180px;
    }

    .picture--container-active{
        background-image: url('../img/photoDeProfil2.jpg');
        position: absolute;
        left: 20px;
        top: 20px;
        border-radius: 50%;
        width: 180px;
        height: 180px;
        transition: all 2s ease-out;
    }

    .title--content {

        .title {
            margin: 0;
            background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
            background-size: cover;
            color: transparent;
            -moz-background-clip: text;
            -webkit-background-clip: text;
        }
        > h2 {
            font-size: 50px;
            span{
                color: crimson;
            }
        }
        
    }
    

    .text--content {
        width: 50%;
        text-align: center;
        font-size: 0.6em;
        font-weight: bold;
        line-height: 2em;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
    .main--content{
        height: 600px;
        .title--content{

            .title{
            margin-top: 190px;
            }

            h2{
                font-size: inherit;
            }

        }
        
        .text--content{
        font-size: 1em;
        }

        .picture--container-active{
            left: 20%;
            top: 10px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .main--content{
        .picture--container-active{
            left: 0;
            top: 200px;
        }
        .title--content{
            width: 100%;
        }
        .text--content{
            font-size: 1em;
            }
    }
  }