
.header--container {
    display: flex;
    margin-top: 20px;
    width: 90%;
    background-color: #EDF5E1;
    align-items: center;
    justify-content: center;
    .header--ul{
        margin: 0;
        display: flex;
        width: 50%;
        justify-content: center;
        justify-content: space-around;
        list-style: none;

        .header--link {
            text-decoration: none;
            color: black;

            &:hover {
                color: transparent;
                -webkit-text-stroke: 2px black;
            }
        }

        
    } 
}

@media (min-width: 320px) and (max-width: 480px) {
    .header--container{
        font-size: 1.3em;
        width: 100%;
       .header--ul{
            width: 100%;
        } 
    }  
}
